<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="baidu-site-verification" content="msfBfhuee7" />
	<title>{{ page.title }}</title>
	<link rel="stylesheet" href="/blog.css">
</head>
<body>

<div class="ui-page_body">
	<header class="ui-page_head">
		<h1 class="title"><a href="/">Notebook</a></h1>
		<p>中文翻译aaa叫记事本</p>

	</header>
	
	<section class="ui-page_cont">
		{{ content }}
	</section>
</div>



{% include ta.html %}
</body>
</html>
